.circle-base {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  float: right;
}

.ok {
  background: #00CCCC;
  border: 3px solid #00CCCC;
}

.notok {
  background: #E60073;
  border: 3px solid #E60073;
}

.ln-logo {
  height: 50px;
  vertical-align: middle;
  margin-left: -20px;
  padding-right: 8px; 
}

.b-logo {
  height: 42px;
  vertical-align: middle;
  padding-right: 24px;
  padding-top: 6px;
  padding-bottom: 2px;
}

.nodes-box {
  padding: 30px;
  height: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.node-box {
  display: inline-block;
  margin-left: 5%;
  margin-right: 5%;
  border: 1px solid #A9A9A9;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
  background-color: white;
}

td {
  padding-top: 15px;
  padding-bottom: 15px;
}

tr td:first-child {
  padding-left: 40px;
  padding-right: 90px;
  text-align: left;
}

tr td:last-child {
  padding-left: 30px;
  padding-right: 40px;
  text-align: right;
}

th {
  font-size: 32px;
  letter-spacing: -2px;
  text-align: left;
  padding-left: 40px;
  padding-top: 36px;
  padding-bottom: 28px;
  border-bottom: 1px solid #E8E8E8;
}

tr:last-child { 
  padding-bottom: 40px;
}

.first-row-col {
  padding-top:32px;
}

.last-cell {
  padding-bottom: 32px;
}


