{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Edit {{ object }}{% endblock title %}

{% block content %}
<form id="main" action="" method="post">{% csrf_token %}
  {{ form|crispy }}
</form>     
<div class="container">
  <button class="btn btn-outline-success btn-lg" form="main" type="submit">Update</button>&ensp;
  <a class="btn btn-outline-secondary btn-lg" href="{% url 'actor_detail' object.pk %}">Cancel</a>&ensp;
  <a class="btn btn-outline-danger btn-lg" href="{% url 'actor_delete' object.pk %}">Delete</a>
</div>
{% endblock content %}


