{% extends "base.html" %}
{% load static %} 

{% block head %}
  <link rel="stylesheet" href="{% static 'css/list.css' %}"/>
  <script type="text/javascript" src="{% static '3rd-party/jquery-3.6.0.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
{% endblock head %}

{% block title %}<a href="{% url 'actor_edit' object.pk %}">Edit: {{ object.name }}</a>{% endblock title %}

{% block content %}
<div class="actor-entry">
    <p>{{ object.notes }} </p>
</div>
{% include "main.html" %}
<div class="button-container">
  <div class="center-holder">
    {% include "bottom-buttons.html" %}
    <form action="{% url 'txout_list' %}">
      <button type="submit" class="bottom-button button2 buttons">All</button>
    </form>
  </div>
</div>
{% endblock content %}
