{% load static %}
<!DOCTYPE HTML>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
  {% block head %}
  {% endblock head %}
</head>
<html>
<body>
  <div class="topnav">
    <a class="active" href="{% url 'node' %}">Node</a>
    <a href="{% url 'txout_list' %}">Transactions</a>
    <a href="{% url 'actor_list' %}">Actors</a>
  </div>

  <div id="title-bar">
    <h1>
      {% block title %}
      {% endblock title %}
    </h1>
    {% block heading-info %}
    {% endblock heading-info %}
  </div>

  {% block content %}
  {% endblock content %}
</body>
</html>
