{% for txout in object_list %}
  <form action="{% url 'txout_detail' txout.pk %}">
    <button type="submit" class="card" id="{{ txout.pk }}">
      <table><tbody class="card-tbody"><tr>
        <td class="icon-box">
          {% for actor in txout.get_actors %}
            <a class="actor-icon" href="{% url 'actor_detail' actor.pk %}">
              <i class="{{ actor.icon }}" style="color:{{ actor.color }}"
                 title="{{ actor.name }}">
              </i>
            </a>
          {% endfor %}
        </td>
        <td id="column2">
            <span title="{{ txout.blockhour }}"><i class="far fa-clock"></i>{{ txout.blockdate }}</span>&ensp;<span title="Address: {{ txout.address }}&#10;&#13;Txid: {{ txout.transaction }}">{{ txout.addr_repr }}</span>
        </td>
        <td id="column3-sats">
          {% if not txout.owned %}
          <span class="fa-stack fa-1x">
            <i class="fas fa-key fa-stack-1x" style="color: red" title="Not owned"></i>
            <i class="fas fa-slash fa-stack-1x"></i>
          </span>
          {% endif %}
          {% if txout.spent_tx %}
            <i class="fas fa-dove" style="color: red" title="Spent in tx: {{ txout.spent_tx }}"></i>
          {% endif %}
          {% if txout.notes %}
            <i class="far fa-sticky-note" title="{{ txout.notes }}"></i>
          {% endif %}
          {% if not txout.validated %}
            <i class="fas fa-check" title="Validated"></i>
          {% endif %}
          <span>&ensp;{{ txout.fmt_amount }}$</span>
          <span class="actions"><p style="display: none">
            <a href="{% url 'txout_edit' txout.pk %}"><i class="far fa-edit"></i></a>
            <a href="{% url 'txout_delete' txout.pk %}"><i class="fas fa-minus-circle"></i></a>
          </span></p>
        </td>
      </tr></tbody></table>
    </button>
  </form>
  <br />
{% endfor %}
