{% extends "base.html" %}
{% load static %} 

{% block head %}
  <link rel="stylesheet" href="{% static 'css/list.css' %}"/>
  <script type="text/javascript" src="{% static '3rd-party/jquery-3.6.0.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
{% endblock head %}

{% block title %}Profile{% endblock title %}

{% block heading-info %}
{% endblock heading-info %}

{% block content %}
<div class="button-container">
  <div class="center">
    <a id="logout-button" class="btn btn-outline-danger btn-lg"
                               href="{% url 'logout' %}">Logout</a>
  </div>
</div>
{% endblock content %}


