{% extends "base.html" %}

{% block title %}Transactions{% endblock title %}

{% block info %}
  <div class="info">All the transactions, bro</div>
{% endblock info %}

{% block content %}
{% for txout in object_list %}
    <div class="card">
        <div class="card-header">
            <span class="font-weight-bold">{{ txout.address }} </span> &middot;
            <span class="text-muted">{{ txout.amount }} </span>
        </div>
        <div class="card-body">
            {{ txout.notes }}
        </div>
        <div class="card-footer text-center text-muted">
            <a href="#">Edit</a>
        </div>
    </div>
    <br />
{% endfor %}
{% endblock content %}

