{% extends "base.html" %}
{% load static %} 

{% block head %}
  <link rel="stylesheet" href="{% static 'css/list.css' %}"/>
  <script type="text/javascript" src="{% static '3rd-party/jquery-3.6.0.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
{% endblock head %}

{% block title %}Transactions{% endblock title %}

{% block heading-info %}
  <div class="heading-text">All the transactions, bro</div>
  <div class="actors-filter">
    {% for actor in actors %}
      <button class="actor-button actor-icon" href="{% url 'actor_detail' actor.pk %}">
        <i class="{{ actor.icon }}" style="color:{{ actor.color }}" title="Select: {{ actor.name }}"></i>
      </button>
    {% endfor %}
  </div>
{% endblock heading-info %}

{% block content %}
{% include "main.html" %}
<div class="button-container">
  <div class="center">
    {% include "bottom-buttons.html" %}
    <form action="{% url 'txout_new' %}">
      <button type="submit" class="bottom-button button2 buttons">Add</button>
    </form>
  </div>
</div>
{% endblock content %}

