{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/list.css' %}"/>
  <script type="text/javascript" src="{% static '3rd-party/jquery-3.6.0.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/lookup.js' %}"></script>
{% endblock head %}

{% block title %}Edit Transaction{% endblock title %}

{% block content %}
<form id="main" action="" method="post">{% csrf_token %}
  {{ form|crispy }}
</form>     
<div>
  <table id="transactions">
    <thead>
    <tr>
      <th>Transaction
        <button class="btn btn-outline-info btn-lg tx-lookup" type="submit">Refresh</button>
      </th>
      <th>Block Height</th>
      <th>Value</th>
    </tr>
    </thead>
    <tbody id="transactions-body">
    </tbody>
  </table>
</div>
<div class="container">
  <button class="btn btn-outline-success btn-lg" type="submit" form="main">Update</button>&ensp;
  <a class="btn btn-outline-secondary btn-lg" href="{% url 'txout_detail' object.pk %}">Cancel</a>&ensp;
  <a class="btn btn-outline-danger btn-lg" href="{% url 'txout_delete' object.pk %}">Delete</a>
</div>
{% endblock content %}
